{% extends "base.html" %}

{% block title %}Profile Setup | Foodies{% endblock title %}

{% block content %}
<h2>
    {% if form.instance.pk %}
        Edit Your Profile
    {% else %}
        Create Your Profile
    {% endif %}
</h2>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>Profile photo upload will be added later.</p>

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>
    {{ form.name.errors }}

    <p>
        {{ form.age.label_tag }}
        {{ form.age }}
    </p>
    {{ form.age.errors }}

    <p>
        {{ form.bio.label_tag }}
        <span>(optional)</span>
        {{ form.bio }}
    </p>
    {{ form.bio.errors }}

    <p>
        {{ form.gender.label_tag }}
        {{ form.gender }}
    </p>
    {{ form.gender.errors }}

    <p>
        {{ form.location.label_tag }}
        {{ form.location }}
    </p>
    {{ form.location.errors }}

    <fieldset>
        <legend>Interested in (select all that apply):</legend>
        {{ form.interested_in }}
        {{ form.interested_in.errors }}
    </fieldset>

    <p>
        {{ form.distance_preference.label_tag }}
        {{ form.distance_preference }}
    </p>
    {{ form.distance_preference.errors }}

    <p>
        {{ form.profile_prompt.label_tag }}
        <span>(optional)</span>
        {{ form.profile_prompt }}
    </p>
    {{ form.profile_prompt.errors }}

    <button type="submit">Save Profile and Continue</button>
</form>
{% endblock content %}